<div class="body">
   <h1>Reportes</h1>

   <table id="tabla" class="table table-success table-striped">
      <thead>
         <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>

         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let reporte of reportes">

            <th><a href="#openModal" (click)="abrirFormulario(reporte)">{{ reporte.id }}</a></th>
            <td>{{ reporte.nombre }}</td>
            <td>{{ reporte.apellido }}</td>

         </tr>
      </tbody>
   </table>
   
   <button (click)="descargar('tabla')" class="btn btn-danger">descargar pdf</button>
   <button (click)="exportexcel()" class="btn btn-success">Descargar excel</button>

</div>


<div id="openModal" class="modalDialog">
   <div>
      <a href="#close" title="Close" class="close">X</a>
      <form class="row g-3" id="formulario">
         <div class="col-md-12">
            <label for="validationDefault01" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="validationDefault01" [(ngModel)]="report.nombre"
               [ngModelOptions]="{standalone: true}" required>
         </div>
         <div class="col-md-12">
            <label for="validationDefault02" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="validationDefault02" [(ngModel)]="report.apellido"
               [ngModelOptions]="{standalone: true}" required>
         </div>
         <div class="col-md-6">
            <label for="validationDefault02" class="form-label">Edad</label>
            <input type="text" class="form-control" id="validationDefault03" [(ngModel)]="report.edad"
               [ngModelOptions]="{standalone: true}" required>
         </div>
         <div class="col-md-6">
            <label for="validationDefault02" class="form-label">Empresa</label>
            <input type="text" class="form-control" id="validationDefault04" [(ngModel)]="report.empresa"
               [ngModelOptions]="{standalone: true}" required>
         </div>
         <div class="col-md-12">
            <label for="validationDefault02" class="form-label">Cargo</label>
            <input type="text" class="form-control" id="validationDefault05" [(ngModel)]="report.cargo"
               [ngModelOptions]="{standalone: true}" required>
         </div>
         <div class="col-6">
            <button class="btn btn-primary" type="submit">Editar usuario</button>
         </div>
         <div class="col-6">
            <button (click)="descargar('formulario')" class="btn btn-danger">descargar pdf</button>
         </div>
      </form>
   </div>
</div>